/* header {
    background-color: #D91832;
    padding-bottom: 1em;
    position: fixed;
    text-align: right;
    top: 0;
    width: 100%;
} */

/* header a {
    padding-right: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 1em;
    color: white;
    text-decoration: none;
}

header a:hover {
    background-color: #ECAC67;
}

.nav-link.utmost-right {
    margin-right: 30%;
} */

/* 
.contact-us {
    margin-top: 80px;
    font-size: 2em;
    text-align: center;
    color: #ECAC67;
}



.contact-us h2 {
    text-shadow: -1px 0 #B39352, 0 1px #B39352, 1px 0 #B39352, 0 -1px #B39352;
    margin-top: 2.8em;
    margin-bottom: 1em;

}

.contact-us h2:hover {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

input {
    height: 3em;
}

input[type="submit"] {
    font-weight: bold;
} */



.container {
    /* flex-direction: column; */
    justify-content: space-around;
    /* align-items: space-around; */
    flex-wrap: wrap;
    /* border: 1px solid black; */
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
    margin-top: 2em;
    width: 850px;
}

.paragraph {
    /* flex: 1; */
    /* background-color: #ADE25D; */
    padding: 1.4em;
    margin: 1em;
    text-align: justify;
    /* padding: 1em; */
}

p{
    /* background-color: #2343; */
    line-height: 1.5em;
    /* border: 1px dotted black; */
    font-size: 1.2em;
    /* height: 100%; */
}